
/*
COLOR CODES
  Black #000000;
  Light Gray #929292;
  Dark Gray #2a2a2a;
  Brown #865701, rgb(134,87,1);
  Gold #b28601, rgb(178,134,1);
  
TABELA DE CONTEÚDO
  1. Estilos Universais
  2. Estilos de cabeçalho e menu
  3. Estilos da section (página) Home
  4. Estilos das sections (páginas) Sobre & Serviços
  5. Estilos das sections (páginas) Projetos & Dashboard
  6. Estilos das sections (páginas) Contatos & Footer
  7. jCarousel
  8. Estilos das Modals
  9. Estilos em Media Queries
--------------------------------------*/


/* -------------------------------------
1. Estilos Universais
--------------------------------------*/


* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  transition: background 0.2s linear;
  color:#000000;
  font-size: 14px;
  font-weight: bolder;
}

h1,
h2,
h3,
h4 {
  color: #00CCFF;
  text-transform: uppercase;
}

h2 {
  color: #00CCFF;
  margin-top: 0;
  width: 100%;
}

h3 {
  color: #00CCFF;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

h4 {
  color: #00CCFF;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
}

caption {
  color: #00CCFF;
  font-size: 12px;
  font-weight: bolder;
}

p {
  color: #00CCFF;
  font-weight: bolder;
}

ul {
  margin: 0;
}

video {
  padding: 5px 15px;
  border: 1px solid #865701;
  border-radius: 30px;
}

input[type="checkbox"] {
  display: none;
}

footer {
  margin: 50px 10px;
  padding: 50px auto;
}

.dark {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #00CCFF;
  font-weight: 100;
  color: #00CCFF;
  font-weight: bolder;
}

.container {
  margin-top: 50px;
}

.container-nav {
  margin: 0;
}

.col-md-6,
.col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.col-lg-12,
.col-md-12 {
  margin: 20px 5px;
  padding: 10px 0;
}

.margin-vertical-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-15 {
  padding: 15px;
}

.padding-30 {
  padding: 30px;
}

.padding-vertical {
  padding-left: 10px;
}

.innovv-section {
  margin-top: 100px;
  padding: 20px 5px;
}

.innovv-second-box {
  margin-top: 20px;
}

.innovv-section-title {
  display: block;
}

.innovv-home-image,
.innovv-image-overlay,
.innovv-black-bg {
  border-radius: 30px;
  width: 100%;
}

.innovv-black-bg,
.innovv-content-box {
  width: 523px;
  height: 523px;
}

.innovv-content-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px;
}

.innovv-flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.innovv-black-bg {
  background: url('../images/round-rectangle.png') no-repeat;
  background-position: center;
  background-size: contain;
}

.innovv-brown-rectangle-bg {
  border: 1px solid #865701;
  border-radius: 30px;
  width: 80%;
  height: 80%;
}

.innovv-brown {
  color: #865701;
}

.innovv-gold {
  color: #b28601;
}

.innovv-blue {
  color: #00CCFF;
}

.innovv-green {
  color: #6E6;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row2 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: -15px;
  margin-left: -15px;
}

.btn {
  font-size: 10px;
  font-weight: bolder;
  color: gold;
}

.innovv-btnTheme {
  background-color: transparent;
  border: none;
  color: gold;
  margin-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.innovv-btn {
  background-color: transparent !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 5px;
}

.innovv-position-relative {
  position: relative;
}

/* IE fix */
.innovv-flex-item-ie-fix,
.innovv-content-box>* {
  width: 100%;
}



/* -------------------------------------
2. Estilos das SECTIONS cabeçalho e menu
--------------------------------------*/


.innovv-site-header {
  background: url('../images/header-bg.png') repeat-x;
  border-bottom: 1px solid #865701;
  height: 82px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.innovv-site-header.sticky {
  height: 47px;
}

.innovv-site-header h1 {
  font-size: 60px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.innovv-site-header.sticky h1 {
  font-size: 34px;
}

.innovv-site-name {
  font-family: Georgia, Times, serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
}

.innovv-site-name span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.innovv-site-name span:first-child {
  font-size: 20px;
}

.innovv-site-header .innovv-nav {
  position: absolute;
  bottom: 14px;
  right: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.innovv-site-header.sticky .innovv-nav {
  bottom: 6px;
}

.ie11 .innovv-site-header.sticky .innovv-nav,
.ie10 .innovv-site-header.sticky .innovv-nav {
  bottom: 7px;
}

.innovv-nav ul li {
  float: left;
  list-style: none;
}

.innovv-nav ul li a {
  padding: 15px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.innovv-site-header.sticky .innovv-nav ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.innovv-nav ul li.active a {
  background: url('../images/body-bg.png');
  border-left: 1px solid #865701;
  border-top: 1px solid #865701;
  border-right: 1px solid #865701;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.innovv-nav ul li a {
  color: #865701;
}

#responsive-menu ul li:hover a,
#responsive-menu ul li.active a,
.innovv-nav li:hover a,
.innovv-nav li.active a {
  color: #b28601;
}

.innovv-nav li:hover a,
.innovv-nav li.active a,
a:focus {
  text-decoration: none;
}

#responsive-menu {
  top: 0;
  width: 250px;
  height: 100%;
  background: rgba(116, 106, 64, 0.4);
  position: fixed;
  z-index: 5500;
  right: -1500px;
  display: none;
  overflow: auto;
}

#responsive-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#responsive-menu ul li {
  display: block;
  margin-bottom: 2px;
}

#responsive-menu ul li a {
  padding: 12px 18px;
  background-color: #1f1d1a;
  color: #865701;
  display: block;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  text-transform: uppercase;
}

#responsive-menu ul li a i {
  margin-right: 15px;
}

a#mobile_menu {
  font-size: 24px;
  background-color: rgba(178, 134, 1, 0.8);
  border-radius: 10px;
  color: #1f1d1a;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5500;
}

#responsive-menu ul li a:hover,
#responsive-menu ul li.active a {
  background: #333;
  text-decoration: none;
}

/*
https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css/953491#953491
*/
@-moz-document url-prefix() {
  .innovv-site-header .innovv-nav {
    bottom: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .innovv-site-header.sticky .innovv-nav {
    bottom: 8px;
  }
}


/* -------------------------------------
3. Estilos da section (página) Home
--------------------------------------*/


.innovv-home-image-container {
  display: inline-block;
  position: relative;
}

.innovv-image-overlay {
  background: rgba(51, 51, 51, 0.9);
  /* OLD - iOS 6-, Safari 3.1-6 */
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;

  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;

  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;

  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innovv-image-overlay:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.innovv-search-icon {
  background: #865701;
  border-radius: 50%;
  font-size: 30px;
  padding: 30px;
  margin-bottom: 15px;
}

.innovv-profile-btn {
  margin-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 200px;
}


/* -----------------------------------------------
4. Estilos das sections (páginas) Sobre & Serviços
------------------------------------------------*/


.innovv-team-member-container {
  max-width: 250px;
  margin: 0 auto;
}

.tm-team-member-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.innovv-member-img-container {
  display: inline-block;
  position: relative;
}

.innovv-img-frame {
  position: absolute;
}

.innovv-service-image {
  display: block;
  float: left;
}

.innovv-product-container {
  margin-top: 0;
  padding: 0;
}

.innovv-product-img {
  margin-top: 5px;
  width: 75%;
}

.innovv-service-container {
  margin-top: 15px;
}

.innovv-service-content {
  margin-left: 90px;
}

h3.innovv-service-title {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0;
}


/* ---------------------------------------------------
5. Estilos das sections (páginas) Projetos e Dashboard
----------------------------------------------------*/


.innovv-project-flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.innovv-project-flex {
  display: flex;
  flex-direction: row;
}

.innovv-project-flex > div {
  text-align: center;
  justify-content: space-between;
  font-size: 26px;
  margin: 20px 20px;
}

.innovv-project-brown-rectangle-bg {
  border: 1px solid #865701;
  border-radius: 30px;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  height: 100%;
}

.innovv-project-brown-rectangle-bg-small {
  border: 1px solid #865701;
  border-radius: 30px;
  margin: 20px 0;
  padding: 20px 0;
  width: 30%;
  height: 100%;
}

.innovv-project-section-title {
  display: block;
  padding-left: 30px;
}

.innovv-projects-icon {
  font-size: 100px;
  margin: 20px;
  font-weight: bolder;
  background-color: #865701;
}

.innovv-projects-btn {
  padding: 10px;
  background-color: #865701;
}

.innovv-project-img {
  width: 80%;
  height: auto;
  margin: auto;
  padding: 50% auto;
}

.innovv-partner-img {
  width: 40%;
  height: auto;
  margin: auto;
  padding: 50% auto;
}

#colunmChart {
  width: 600px;
  height: 300px;
  font-size: 15px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

#lineChart {
  width: 600px;
  height: 300px;
  font-size: 15px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

#barChart {
  width: 600px;
  height: 300px;
  font-size: 15px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: #FFFFFF;
  th {
    font-size: 12px;
    padding: 0 5px;
    margin: auto 0px;
  }
  td {
    margin: 0;
    padding: 0px 10px;
  }
}


/* ------------------------------------------------
6. Estilos das sections (páginas) Contatos & Footer
-------------------------------------------------*/


form {
  width: 430px;
}

.form-control {
  background: #1f1d1a;
  border: 1px solid #865701;
  border-radius: 10px;
  color: #b28601;
}

.form-control:focus {
  border: 1px solid #b28601;
}

.innovv-send-btn {
  background: #774d01;
  color: #C5A554;
}

/* http://css-tricks.com/snippets/css/style-placeholder-text/ */
.form-control::-webkit-input-placeholder {
  color: #b28601;
}

.form-control:-moz-placeholder {
  color: #b28601;
}

/* Firefox 18- */
.form-control::-moz-placeholder {
  color: #b28601;
}

/* Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #b28601;
}

.innovv-social-icons-img {
  display: none;
}

.innovv-social-icon {
  display: inline-block;
  width: 500px;
  height: 44px;
}

.innovv-icon {
  margin-top: 10px;
  margin-left: 20px;
  padding: 0 10px;
  display: inline-block;
}

.innovv-footer {
  margin-top: 100px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 5px;
  border: 3px solid #865701;
  border-radius: 30px;
}

.innovv-copyright-container {
  padding-left: 30px;
}


/* --------------------------------------------
7. jCarousel http://sorgalla.com/jcarousel 
---------------------------------------------*/


.jcarousel-wrapper {
  position: relative;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}

.innovv-team .jcarousel {
  width: 250px;
}

.innovv-products .jcarousel {
  width: 275px;
}

.innovv-project .jcarousel {
  width: 275px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}

.innovv-team .jcarousel-control-prev {
  left: 0;
}

.innovv-team .jcarousel-control-next {
  right: 0;
}

.innovv-products .jcarousel-control-prev {
  left: -50px;
}

.innovv-products .jcarousel-control-next {
  right: -50px;
}

.innovv-project .jcarousel-control-prev {
  left: -50px;
}

.innovv-project .jcarousel-control-next {
  right: -50px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: 0;
  cursor: default;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #b28601;
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  border-radius: 30px;
  box-shadow: 0 0 2px #999;
}

.innovv-team .jcarousel-control-prev,
.innovv-team .jcarousel-control-next {
  top: 55px;
}

.innovv-products .jcarousel-control-prev,
.innovv-products .jcarousel-control-next {
  top: 110px;
}

.innovv-project .jcarousel-control-prev,
.innovv-project .jcarousel-control-next {
  top: 110px;
}

.jcarousel-control-prev:hover,
.jcarousel-control-prev:focus,
.jcarousel-control-next:hover,
.jcarousel-control-next:focus {
  color: #865701;
}



/* -------------------------------------
8. Estilos das Modals
--------------------------------------*/

/* BASE DA MODAL */

.modal {
	position: fixed;
  display: none;
  width: 100%;
  height: 100%;
	top: 10px;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
  border: 1px solid #865701;
  border-radius: 30px;
	z-index: 2;
}

.modal-content {
  position: relative;
  margin: 80px auto;
  padding: 20px 15px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 600px;
  height: 500px;
  z-index: 4;
}

.modal-header {
  padding: 5px;
  height: 60px;
  font-size: 26px;
  background-color: #000000;
}

.modal-header .modal-close {
  float: right;
	color: gold;
	text-decoration: none;
  background-color: #000000;
	font-weight: bold;
  border-radius: 50px;
  padding: 0 10px;
}

.modal-body {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: #00CCFF;
  text-align: justify;
}

.modal-footer {
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: auto 10px;
  font-size: 15px;
  font-weight: bold;
  color: #00CCFF;
  text-align: center;
}


/* MODAL PROFILE */

.modal-profile {
  position: fixed;
  display: none;
  width: 80%;
  height: 70%;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 80px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #865701;
  border-radius: 30px;
  z-index: 2;
  justify-content: center;
}

.modal-content-profile {
  position: relative;
  margin: 30px auto;
  padding: 10px 5px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 90%;
  height: 85%;
  z-index: 4;
}

.innovv-profile-btn {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100px;
}


/*  MODAL SERVICES  */

.modal-service {
	position: fixed;
  display: none;
  width: 60%;
  height: 60%;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 100px;
	background-color: rgba(0,0,0,0.8);
  border: 1px solid #865701;
  border-radius: 30px;
	z-index: 2;
}

.modal-content-service {
  position: relative;
  margin: 40px auto;
  padding: 20px 15px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 90%;
  height: 80%;
  z-index: 4;
}


/*  MODAL DASHBOARD  */

.modal-dashboard {
	position: fixed;
  display: none;
  width: 80%;
  height: 80%;
	top: 100px;
	right: 0;
	bottom: 0;
	left: 80px;
	background-color: rgba(0,0,0,0.8);
  border: 1px solid #865701;
  border-radius: 30px;
	z-index: 2;
}

.modal-content-dashboard {
  position: relative;
  margin: 40px auto;
  padding: 20px 15px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 80%;
  height: 60%;
  z-index: 4;
}


/*  MODAL PROJECTS  */

.modal-project {
  position: fixed;
  display: none;
  width: 70%;
  height: 95%;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 100px;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #865701;
  border-radius: 30px;
  z-index: 2;
  justify-content: center;
}

.modal-content-project {
  position: relative;
  margin: 40px auto;
  padding: 10px 5px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 800px;
  height: 500px;
  z-index: 4;
}

.modal-body-rectangle-bg {
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-body-rectangle-scroll {
  align-items: center;
  width: 100%;
  height: 100%;
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.innovv-info-btn {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 200px;
}

.modal-img-50w {
  width: 50%;
  height: auto;
  margin: auto;
  padding: 5px auto;
}


/* -------------------------------------
9. Estilos em Media Queries
--------------------------------------*/

@media screen and (991px <= width <= 1199px) {
  video {
    width: 100%;
  }

  .innovv-site-name > img {
    margin: 10px 10px;
    width: 30%;
  }

  .innovv-black-bg,
  .innovv-content-box {
    width: 480px;
    height: 523px;
  }

  .modal {
    position: fixed;
    display: none;
    width: 70%;
    height: 70%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 400px;
    height: 300px;
    z-index: 4;
  }

  .modal-profile {
    position: fixed;
    display: none;
    width: 80%;
    height: 90%;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-profile {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 90%;
    z-index: 4;
  }

  .modal-service {
    position: fixed;
    display: none;
    width: 80%;
    height: 70%;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content-service {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 80%;
    z-index: 4;
  }

  .modal-dashboard {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-dashboard {
    position: relative;
    margin: 20px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 85%;
    z-index: 4;
  }

  .modal-project {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-project {
    position: relative;
    margin: 15px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 85%;
    height: 90%;
    z-index: 4;
  }

  .modal-body-rectangle-bg {
    margin-bottom: 5px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }

  .img-modal {
    width: 80%;
  }

  .innovv-partner-img {
    width: 50%;
  }

  #colunmChart {
    width: 600px;
    height: 200px;
    font-size: 14px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    th {
      font-size: 14px;
      padding: 0;
      margin-bottom: 80px;
    }
    td {
      margin-top: 20px;
      padding: 0;
    }
  }

  #lineChart {
    width: 600px;
    height: 200px;
    font-size: 10px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
  }
  
  #barChart {
    width: 600px;
    height: 230px;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    tbody {
      padding: 0
    }
    th {
      font-size: 10px;
      padding: 0px;
      margin-bottom: 10px;
    }
    td {
      margin-left: 5px;
      padding: 0;
    }
  }
}

@media screen and (767px <= width <= 991px) {
   nav {
    padding: 10px 0px;
  }

  video {
    width: 90%;
  }

  .innovv-site-header {
    align-items: center;
    background: #000000;
    height: 55px;
    top: 0px;
  }

  .innovv-site-name > img {
    margin-top: 15px;
    width: 20%;
  }

  .innovv-site-header h1 {
    font-size: 35px;
  }

  .innovv-site-header .innovv-nav {
    top: 10px;
    right: 80px;
    bottom: 0;
  }

  .innovv-nav ul li a {
    padding: 10px 15px;
  }

  .innovv-black-bg,
  .innovv-content-box {
    margin-left: auto;
    margin-right: auto;
  }

  .innovv-content-box {
    height: auto;
    padding: 0px;
  }

  .innovv-flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px auto;
  }

  .innovv-section {
    margin-top: 5px;
  }

  .innovv-second-box {
    margin-top: 5px;
  }

  .innovv-project-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innovv-product-container {
    margin-top: 0;
    padding: 0 auto;
  }
  
  .innovv-product-img {
    margin-top: 5px;
    width: 75%;
  }

  .innovv-products .jcarousel {
    width: 300px;
    padding: 0 20px;
  }

  .innovv-gold {
    padding: 0 30px;
  }

  .innovv-project-brown-rectangle-bg-small {
    border: 1px solid #865701;
    border-radius: 30px;
    margin: 20px 0;
    padding: 20px 0;
    width: 80%;
    height: 100%;
  }

  .innovv-project-flex > div {
    text-align: center;
    justify-content: space-between;
    font-size: 26px;
    margin: 20px auto;
  }

  .innovv-projects-icon {
    margin: 10px auto;
    padding: 10px auto;
    font-weight: bolder;
    background-color: #865701;
  }
  
  .innovv-projects-btn {
    padding: 20px auto;
    background-color: #865701;
  }

  .innovv-project-img {
    width: 100%;
    height: 100%;
  }

  .innovv-social-icon {
    display: inline-block;
    width: 100%;
    height: 300px;
  }

  .modal {
    position: fixed;
    display: none;
    width: 70%;
    height: 70%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 400px;
    height: 300px;
    z-index: 4;
  }

  .modal-profile {
    position: fixed;
    display: none;
    width: 80%;
    height: 90%;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-profile {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 90%;
    z-index: 4;
  }

  .modal-service {
    position: fixed;
    display: none;
    width: 80%;
    height: 70%;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content-service {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 80%;
    z-index: 4;
  }

  .modal-dashboard {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-dashboard {
    position: relative;
    margin: 20px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 85%;
    z-index: 4;
  }

  .modal-project {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-project {
    position: relative;
    margin: 10px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 90%;
    z-index: 4;
  }

  .modal-body-rectangle-bg {
    margin-bottom: 5px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }

  .img-modal {
    width: 80%;
  }

  .innovv-partner-img {
    width: 25%;
  }

  #colunmChart {
    width: 500px;
    height: 200px;
    font-size: 14px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    th {
      font-size: 14px;
      padding: 0;
      margin-bottom: 80px;
    }
    td {
      margin-top: 20px;
      padding: 0;
    }
  }

  #lineChart {
    width: 500px;
    height: 200px;
    font-size: 10px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
  }
  
  #barChart {
    width: 500px;
    height: 200px;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    tbody {
      padding: 0
    }
    th {
      font-size: 10px;
      padding: 0px;
      margin-bottom: 10px;
    }
    td {
      margin-left: 5px;
      padding: 0;
    }
  }

  .ie11 .innovv-site-header .innovv-nav,
  .ie10 .innovv-site-header .innovv-nav {
    bottom: 9px;
  }

  .ie11 .innovv-site-header.sticky .innovv-nav {
    bottom: 7px;
  }

  /*https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css/953491#953491*/
  @-moz-document url-prefix() {
    .innovv-site-header .innovv-nav {
      bottom: 11px;
    }
  }
}

@media screen and (400px <= width <= 767px) {
  video {
    width: 100%;
  }

  .form4 {
    margin-top: 250px;
  }

  .innovv-site-header {
    position: static;
  }

  .innovv-site-name > img {
    margin-top: 15px;
    width: 70%;
  }

  .innovv-nav {
    bottom: -6px;
  }

  .innovv-black-bg,
  .innovv-content-box {
    width: 98%;
    height: auto;
  }

  .innovv-black-bg {
    background: #1B1B1B;
    border: 1px solid #865701;
    border-radius: 30px;
    padding: 30px;
  }

  .innovv-brown-rectangle-bg {
    width: 100%;
    padding: 30px;
  }

  .innovv-project-brown-rectangle-bg-small {
    border: 1px solid #865701;
    border-radius: 30px;
    margin: 20px 0;
    padding: 20px 0;
    width: 80%;
    height: 100%;
  }

  .innovv-content-box {
    height: auto;
    padding: 15px;
  }

  .innovv-section {
    margin-top: 10px;
  }

  .innovv-second-box {
    margin-top: 5px;
  }

  .innovv-project-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .innovv-project-flex > div {
    text-align: center;
    justify-content: space-between;
    font-size: 26px;
    margin: 10px auto;
  }

  .innovv-projects-btn {
    font-size: 26px;
    padding: 10px;
    background-color: #865701;
  }

  .innovv-projects-icon {
    font-size: 26px;
    margin: 5px;
    font-weight: bolder;
    background-color: #865701;
  }

  .fa {
    padding: 0;
    margin: 0;
    font-size: 26px;
  }

  .innovv-copyright-container {
    padding-left: 0;
  }

  .modal {
    position: fixed;
    display: none;
    width: 70%;
    height: 70%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 400px;
    height: 300px;
    z-index: 4;
  }

  .modal-profile {
    position: fixed;
    display: none;
    width: 80%;
    height: 100%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-profile {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 90%;
    z-index: 4;
  }

  .modal-service {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content-service {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 85%;
    z-index: 4;
  }

  .modal-dashboard {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-dashboard {
    position: relative;
    margin: 15px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 90%;
    z-index: 4;
  }

  .modal-project {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-project {
    position: relative;
    margin: 10px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 90%;
    z-index: 4;
  }

  .modal-body {
    margin-bottom: 5px;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }

  .modal-body-rectangle-bg {
    margin-bottom: 5px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }

  .btn {
    font-weight: bolder;
    color: gold;
    width: auto;
  }

  .innovv-profile-btn {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100px;
  }

  .innovv-partner-img {
    width: 25%;
  }

  #colunmChart {
    width: 200px;
    height: 200px;
    font-size: 10px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    th {
      font-size: 10px;
      padding: 0;
      margin-bottom: 50px;
    }
    td {
      margin: 0;
      padding: 0;
    }
  }

  #lineChart {
    width: 200px;
    height: 200px;
    font-size: 10px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
  }
  
  #barChart {
    width: 250px;
    height: 200px;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
    tbody {
      padding: 0
    }
    th {
      font-size: 10px;
      padding: 0px;
      margin-bottom: 10px;
    }
    td {
      margin-left: 5px;
      padding: 0;
    }
  }

  .img-modal {
    width: 70%;
  }

  .img-modal-h {
    width: 30%;
  }

  .innovv-logo {
    width: 80%;
  }
}

@media screen and (200px <= width <= 400px) {
  video {
    width: 100%;
  }

  #home {
    margin-top: 40px;
  }

  #about {
    margin-top: 40px;
  }

  .innovv-site-name > img {
    margin: 20px 0;
    width: 60%;
  }

  .col-lg-6,
  .col-md-6 {
    padding: 5px;
  }

  .innovv-home-image, 
  .innovv-image-overlay,
  .innovv-black-bg {
    border-radius: 30px;
    width: 100%;
  }
  
  .innovv-black-bg,
  .innovv-content-box {
    width: 320px;
    height: 320px;
  }
  
  .innovv-content-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;  
    padding: 0px 5px;
  }

  .innovv-flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .innovv-black-bg {
    margin: 10px 20px;
    width: 90%;
    background: url('../images/round-rectangle.png') no-repeat;
    background-position: center;
    background-size: contain;
  }

  .innovv-team-menber-container {
    width: 50%;
    height: 50%;
  }

  .innovv-member-img-container {
    width: 40%;
    height: 40%;
  }

  .innovv-img-frame {
    width: 100px;
    height: 100px;
  }

  .tm-team-member-img {
    width: 100px;
    height: 100px;
  }

  .innovv-team .jcarousel-control-next {
    right: 10px;
  }

  .innovv-team .jcarousel-control-prev {
    left: 10px;
  }

  .margin-top-15 {
    margin-top: 5px;
  }

  .small {
    padding-top: 20px; 
  }

  .innovv-product-img {
    width: 50%;
    height: 50%;
  }

  .innovv-products .jcarousel-control-next {
    right: 25px;
  }

  .innovv-products .jcarousel-control-prev {
    left: 25px;
  }

  .innovv-brown {
    font-size: 14px;
  }

  .innovv-project-flex {
    display: flex;
    flex-direction: column;
  }

  .innovv-project-flex > div {
    text-align: center;
    justify-content: space-between;
    font-size: 26px;
    margin: 20px 20px;
  }

  .innovv-project-brown-rectangle-bg-small {
    border: 1px solid #865701;
    border-radius: 30px;
    margin: 20px 0;
    padding: 20px 0;
    width: 90%;
    height: 100%;
  }

  .innovv-black-bg-form {
    width: 90%;
    height: 600px;
    margin: 100px 20px;
    background: url('../images/round-rectangle.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: center;
    background-size: contain;
  }

  form {
    width: 80%;
    height: 50%;
  }

  .tm-contact-form {
    margin-top: 15px;
  }

  #contact_message {
    height: 80px;
  }

  .form-group {
    margin: 5px 20px;
    width: 80%;
  }

  .innovv-social-icon {
    display: inline-block;
    width: 350px;
    height: 44px;
  }

  .innovv-icon {
    margin-left: 5px;
  }

  .innovv-logo {
    width: 80%;
  }

  .modal {
    position: fixed;
    display: none;
    width: 70%;
    height: 70%;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 80px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 400px;
    height: 300px;
    z-index: 4;
  }

  .modal-profile {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-profile {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 90%;
    height: 90%;
    z-index: 4;
  }

  .modal-service {
    position: fixed;
    display: none;
    width: 80%;
    height: 50%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }
  
  .modal-content-service {
    position: relative;
    margin: 30px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 80%;
    z-index: 4;
  }

  .modal-dashboard {
    position: fixed;
    display: none;
    width: 80%;
    height: 60%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-dashboard {
    position: relative;
    margin: 15px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 90%;
    z-index: 4;
  }

  .modal-project {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 40px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #865701;
    border-radius: 30px;
    z-index: 2;
    justify-content: center;
  }

  .modal-content-project {
    position: relative;
    margin: 20px auto;
    padding: 10px 5px;
    border: 1px solid #865701;
    border-radius: 30px;
    background-color: #000000;
    width: 80%;
    height: 90%;
    z-index: 4;
  }

  .modal-body {
    margin-top: 5px;
    margin-left: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #00CCFF;
    text-align: justify;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
  }

  .modal-footer {
    margin-top: 3px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    padding: auto 10px;
    font-size: 12px;
    font-weight: bold;
    color: #00CCFF;
    text-align: center;
  }

  .innovv-profile-btn {
    width: 50%;
  }

  .modal-body-rectangle-bg {
    margin-bottom: 5px;
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }

  #colunmChart {
    width: 200px;
    height: 150px;
    font-size: 10px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
    tbody {
      margin-top: 10px;
    }
    th {
      font-size: 5px;
      padding: 0;
      margin-bottom: 50px;
    }
    td {
      margin: 0;
      padding: 0;
    }
  }

  #lineChart {
    width: 200px;
    height: 150px;
    font-size: 10px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
  }
  
  #barChart {
    width: 200px;
    height: 150px;
    font-size: 10px;
    margin: 0 auto;
    padding: 0;
    border-radius: 20px;
    background-color: #FFFFFF;
  }

  .img-modal {
    width: 80%;
  }


}


