/*
COLOR CODES
  Black #000000
  Light Gray #929292
  Dark Gray #2a2a2a
  Brown #865701, rgb(134,87,1)
  Gold #b28601, rgb(178,134,1)
  
TABELA DE CONTEÚDO
  1. Estilos Universais
  2. Estilos de cabeçalho e menu
  3. Estilos da section (página) Home
  4. Estilos das sections (páginas) Sobre & Serviços
  5. Estilos das sections (páginas) Projetos e Dashboard
  6. Estilos das sections (páginas) Contatos & Footer
  7. jCarousel
  8. Estilos das Modals
  9. Estilos em Media Queries
--------------------------------------*/

/* -------------------------------------
1. Estilos Universais
--------------------------------------*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  transition: background 0.2s linear;
  color:#000000;
  font-size: 14px;
  font-weight: bolder;
}

h1,
h2,
h3,
h4 {
  color: #00CCFF;
  text-transform: uppercase;
}

h2 {
  color: #00CCFF;
  margin-top: 0;
  width: 100%;
}

h3 {
  color: #00CCFF;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
}

h4 {
  color: #00CCFF;
  font-size: 15px;
  font-weight: 300;
  margin-top: 0;
}

a:hover,
a:focus {
  color: #b28601;
  text-decoration: none;
}

caption {
  color: #00CCFF;
  font-size: 12px;
  font-weight: bolder;
}

p {
  color: #00CCFF;
  font-weight: bolder;
}

ul {
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

.dark {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #00CCFF;
  font-weight: 100;
  p {
    color: #00CCFF;
    font-weight: bolder;
  }
}

.col-md-6,
.col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-verticaL-10 {
  margin-left: auto;
  margin-right: auto;
}

.margin-verticaL-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.padding-15 {
  padding: 15px;
}

.padding-30 {
  padding: 30px;
}

.templatemo-section {
  margin: 120px 20px;
  padding: 30px 5px;
  border: 3px solid #865701;
  border-radius: 30px;
}

.templatemo-section-end {
  margin-top: 120px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 30px 5px;
  border: 3px solid #865701;
  border-radius: 30px;
}

.templatemo-content-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px;
}

.templatemo-black-bg,
.templatemo-content-box {
  width: 523px;
  height: 523px;
}

.templatemo-section-title {
  display: block;
}

.templatemo-flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.templatemo-black-bg {
  background: url('../images/round-rectangle.png') no-repeat;
  background-position: center;
  background-size: contain;
}

.templatemo-brown-rectangle-bg {
  border: 1px solid #865701;
  border-radius: 30px;
  width: 80%;
  height: 80%;
}

.templatemo-black {
  color: #000000;
}

.templatemo-blue {
  color: #00CCFF;
  font-weight: bold;
}

.templatemo-brown {
  color: #865701;
}

.templatemo-gold {
  color: #b28601;
}

.templatemo-btn {
  background: #865701;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.templatemo-btn:hover,
.templatemo-btn:focus {
  background: #b28601;
  color: white;
}

.templatemo-position-relative {
  position: relative;
}

.btnTheme {
  background-color: transparent;
  border: none;
  color: gold;
  margin-left: 30px;
  font-size: 14px;
  cursor: pointer;
}

.row2 {
  margin: 50px 0;
}

.blue {
  color: #6BE;
}

.green {
  color: #6E6;
}

.black {
  color: #000000;
}

.lightgray {
  color: #929292;
}

.darkgray {
  color: #2a2a2a;
}

.brown {
  color: #865701, rgb(134,87,1);
}

.gold {
  color: #b28601, rgb(178,134,1);
}

/* IE fix */
.templatemo-flex-item-ie-fix,
.templatemo-content-box>* {
  width: 100%;
}

/* -------------------------------------
2. Estilos das SECTIONS cabeçalho e menu
--------------------------------------*/

.templatemo-site-header {
  background: url('../images/header-bg.png') repeat-x;
  border-bottom: 1px solid #865701;
  height: 82px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.templatemo-site-header.sticky {
  height: 47px;
}

.templatemo-site-header h1 {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.templatemo-site-header.sticky h1 {
  font-size: 34px;
}

.templatemo-site-header .templatemo-nav {
  position: absolute;
  bottom: 14px;
  left: 40%;
  right: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.templatemo-site-header.sticky .templatemo-nav {
  bottom: 6px;
}

.templatemo-site-header.sticky .templatemo-nav ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.templatemo-site-name {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px;
}

.templatemo-site-name img {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.templatemo-nav ul li {
  float: left;
  list-style: none;
}

.templatemo-nav ul li a {
  padding: 15px 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.templatemo-nav ul li.active a {
  background: url('../images/body-bg.png');
  border-left: 1px solid #865701;
  border-top: 1px solid #865701;
  border-right: 1px solid #865701;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.templatemo-nav ul li a {
  color: #865701;
}

.templatemo-nav li:hover a,
.templatemo-nav li.active a,
a:focus {
  text-decoration: none;
}

#responsive-menu {
  top: 0;
  width: 250px;
  height: 100%;
  background: rgba(116, 106, 64, 0.4);
  position: fixed;
  z-index: 5500;
  right: -1500px;
  display: none;
  overflow: auto;
}

#responsive-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#responsive-menu ul li {
  display: block;
  margin-bottom: 2px;
}

#responsive-menu ul li a {
  padding: 12px 18px;
  background-color: #1f1d1a;
  color: #865701;
  display: block;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  text-transform: uppercase;
}

#responsive-menu ul li a i {
  margin-right: 15px;
}

#responsive-menu ul li:hover a,
#responsive-menu ul li.active a,
.templatemo-nav li:hover a,
.templatemo-nav li.active a {
  color: #b28601;
}

#responsive-menu ul li a:hover,
#responsive-menu ul li.active a {
  background: #333;
  text-decoration: none;
}

a#mobile_menu {
  font-size: 24px;
  background-color: rgba(178, 134, 1, 0.8);
  border-radius: 10px;
  color: #1f1d1a;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5500;
}

.ie11 .templatemo-site-header.sticky .templatemo-nav,
.ie10 .templatemo-site-header.sticky .templatemo-nav {
  bottom: 7px;
}

/*
https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css/953491#953491
*/
@-moz-document url-prefix() {
  .templatemo-site-header .templatemo-nav {
    bottom: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .templatemo-site-header.sticky .templatemo-nav {
    bottom: 8px;
  }
}


/* -------------------------------------
3. Estilos da section (página) Home
--------------------------------------*/

.templatemo-home-image,
.templatemo-image-overlay,
.templatemo-black-bg {
  border-radius: 30px;
  width: 100%;
}

.templatemo-home-image-container {
  display: inline-block;
  position: relative;
}

.templatemo-image-overlay {
  background: rgba(51, 51, 51, 0.9);
  /* OLD - iOS 6-, Safari 3.1-6 */
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.templatemo-image-overlay:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.templatemo-search-icon {
  background: #865701;
  border-radius: 50%;
  font-size: 30px;
  padding: 30px;
  margin-bottom: 15px;
}

.templatemo-info-btn {
  margin-top: 5px;
  margin-bottom: 2px;;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 150px;
}


/* -----------------------------------------------
4. Estilos das sections (páginas) Sobre & Serviços
------------------------------------------------*/

.templatemo-team-member-container {
  max-width: 250px;
  margin: 0 auto;
}

.tm-team-member-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.templatemo-member-img-container {
  display: inline-block;
  position: relative;
}

.templatemo-img-frame {
  position: absolute;
}

.templatemo-QRCode-btn {
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 80px;
}


.templatemo-service-image {
  display: block;
  float: left;
}

.templatemo-product-img {
  margin-top: 30px;
}



.templatemo-service-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.templatemo-service-content {
  margin-left: auto;
}

h3.templatemo-service-title {
  font-size: 13px;
  margin-bottom: 5px;
  margin-top: 0;
}


/* ---------------------------------------------------
5. Estilos das sections (páginas) Projetos e Dashboard
----------------------------------------------------*/

.templatemo-dashboard-brown-rectangle-bg {
  border: 1px solid #865701;
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.templatemo-dashboard-black-bg,
.templatemo-dashboard-content-box {
  width: 100%;
  height: 100%;
}

.templatemo-dashboard-black-pqn-bg,
.templatemo-dashboard-content-pqn-box {
  width: 90%;
  height: 100%;
}

.templatemo-dashboard-content-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px;
}

.templatemo-dashboard-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #865701;
  width: 100%;
  height: 100%;
  margin: 20px auto;
  border-radius: 30px;
}

.templatemo-dashboard-flex-container > div {
  border: 1px solid #865701;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.templatemo-dashboard-section-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.templatemo-dashboard-section-img {
  display: block;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.templatemo-dashboard-section-title-left {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.templatemo-dashboard-section-title-right {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.templatemo-dashboard-section-text {
  display: block;
  margin-left: 20px;
}

.templatemo-dashboard-icon {
  font-size: 100px;
  font-weight: bolder;
  background-color: #865701;
}

.templatemo-dashboard-chart {
  width: 100%;
  max-width: 100%;
}

.templatemo-project-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #865701;
  width: 100%;
  height: 100%;
  margin: 20px auto;
  border-radius: 30px;
}

.templatemo-project-flex-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #865701;
  border-radius: 30px;
  width: 350px;
  height: 550px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.templatemo-project-block-img {
  
  padding-top: 50%;
  padding-bottom: 50%;
  width: 100%;
  height: auto;
}


.templatemo-project-img {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 50% auto;
}



/* ------------------------------------------------
6. Estilos das sections (páginas) Contatos & Footer
-------------------------------------------------*/

form {
  width: 430px;
}

.form-control {
  background: #1f1d1a;
  border: 1px solid #865701;
  border-radius: 10px;
  color: #b28601;
}

.form-control:focus {
  border: 1px solid #b28601;
}

.templatemo-send-btn {
  background: #774d01;
  color: #C5A554;
}

/* http://css-tricks.com/snippets/css/style-placeholder-text/ */
.form-control::-webkit-input-placeholder {
  color: #b28601;
}

.form-control:-moz-placeholder {
  color: #b28601;
}

/* Firefox 18- */
.form-control::-moz-placeholder {
  color: #b28601;
}

/* Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #b28601;
}

.templatemo-footer {
  margin-top: 50px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 5px;
  border: 3px solid #865701;
  border-radius: 30px;
}

.templatemo-social-icons-img {
  display: none;
}

.templatemo-social-icon {
  margin-top: 10px;
  margin-left: 0;
  display: inline-block;
}

.templatemo-icon {
  width: 100px;
  height: 100px;
  margin-left: 0px;
  padding: 10px 10px;
}

.templatemo-copyright-container {
  padding: 10px 15px;
}


/* --------------------------------------------
7. jCarousel http://sorgalla.com/jcarousel 
---------------------------------------------*/

.jcarousel-wrapper {
  position: relative;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
  position: relative;
  overflow: hidden;
}

.templatemo-team .jcarousel {
  width: 250px;
}

.templatemo-products .jcarousel {
  width: 275px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}

.templatemo-team .jcarousel-control-prev {
  left: 0;
}

.templatemo-team .jcarousel-control-next {
  right: 0;
}

.templatemo-products .jcarousel-control-prev {
  left: -50px;
}

.templatemo-products .jcarousel-control-next {
  right: -50px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: 0;
  cursor: default;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #b28601;
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  border-radius: 30px;
  box-shadow: 0 0 2px #999;
}

.templatemo-team .jcarousel-control-prev,
.templatemo-team .jcarousel-control-next {
  top: 55px;
}

.templatemo-products .jcarousel-control-prev,
.templatemo-products .jcarousel-control-next {
  top: 110px;
}

.jcarousel-control-prev:hover,
.jcarousel-control-prev:focus,
.jcarousel-control-next:hover,
.jcarousel-control-next:focus {
  color: #865701;
}



/* -------------------------------------
8. Estilos das Modals
--------------------------------------*/

.modal {
	position: fixed;
  display: none;
  width: 100%;
  height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
  border: 1px solid #865701;
  border-radius: 30px;
	z-index: 2;
}

.modal-content {
  position: relative;
  margin: 80px auto;
  padding: 20px 15px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 500px;
  height: 500px;
  z-index: 4;
}

.modal-content-dashboard {
  position: relative;
  margin: 80px auto;
  padding: 20px 15px;
  border: 1px solid #865701;
  border-radius: 30px;
  background-color: #000000;
  width: 750px;
  height: 500px;
  z-index: 4;
}

.modal-header {
  padding: 10px 15px;
  height: 60px;
  font-size: 26px;
  background-color: #000000;
}

.modal-header .modal-close {
  float: right;
	color: gold;
	text-decoration: none;
  background-color: #000000;
	font-weight: bold;
  border-radius: 50px;
  padding: 0 10px;
}

.modal-body {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: auto;
  padding: auto 20px;
  font-size: 15px;
  font-weight: bold;
  color: #00CCFF;
}

.modal-body-rectangle-bg {
  align-items: center;
  width: 100%;
  height: 100%;
}

.close:hover { 
color: gold;
}

#colunmChart {
  width: 600px;
  height: 300px;
  font-size: 15px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.9);
}

#lineChart {
  width: 600px;
  height: 300px;
  font-size: 15px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.9);
}


#barChart {
  width: 600px;
  height: 300px;
  font-size: 15px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(51, 51, 51, 0.9);
  th {
    font-size: 12px;
    padding: 0 5px;
    margin: auto 0px;
  }
  td {
    margin: 0;
    padding: 0px 10px;
  }
}


/* -------------------------------------
9. Estilos em Media Queries
--------------------------------------*/

@media screen and (max-width: 1199px) {
  .templatemo-black-bg,
  .templatemo-content-box {
    width: 480px;
    height: 523px;
  }
}

@media screen and (max-width: 991px) {
  .templatemo-site-header {
    height: 48px;
  }

  .templatemo-site-header h1 {
    font-size: 35px;
  }

  .templatemo-site-header .templatemo-nav {
    right: 10px;
    bottom: 8px;
  }

  /*https://stackoverflow.com/questions/952861/targeting-only-firefox-with-css/953491#953491*/
  @-moz-document url-prefix() {
    .templatemo-site-header .templatemo-nav {
      bottom: 11px;
    }
  }

  .ie11 .templatemo-site-header .templatemo-nav,
  .ie10 .templatemo-site-header .templatemo-nav {
    bottom: 9px;
  }

  .ie11 .templatemo-site-header.sticky .templatemo-nav {
    bottom: 7px;
  }

  .templatemo-nav ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .templatemo-black-bg,
  .templatemo-content-box {
    margin-left: auto;
    margin-right: auto;
  }

  .templatemo-content-box {
    height: auto;
    padding: 15px;
  }

  .templatemo-section {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .templatemo-site-header {
    position: static;
  }

  .templatemo-nav {
    bottom: -6px;
  }

  .templatemo-black-bg,
  .templatemo-content-box {
    width: 98%;
    height: auto;
  }

  .templatemo-black-bg {
    background: #1B1B1B;
    border: 1px solid #865701;
    border-radius: 30px;
    padding: 30px;
  }

  .templatemo-brown-rectangle-bg {
    width: 100%;
    padding: 30px;
  }

  .templatemo-second-box {
    margin-top: 50px;
  }

  .templatemo-service-container>* {
    text-align: center;
  }

  .templatemo-service-image {
    float: none;
    margin: 20px auto 10px auto;
  }

  .templatemo-service-content {
    margin-left: auto;
    margin-right: auto;
  }

  .templatemo-copyright-container {
    padding-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .templatemo-black-bg {
    padding: 15px;
  }

  .templatemo-brown-rectangle-bg {
    padding: 5px;
  }

  .templatemo-products .jcarousel-control-prev {
    left: 0;
  }

  .templatemo-products .jcarousel-control-next {
    right: 0;
  }

  .templatemo-service-container {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .templatemo-product-img {
    margin-top: 10px;
    width: 75%;
  }
}

